$primary: #5271ff;
$black: #000000;
$white: #FFFFFF;
$grey: #8d8d8d;
$yellow: #FF9C4F;

$border_1 :#e4e7ea;
$fontText2: #28263d;
$fontText3: #6c7b95;
$inpbg: #e5e9f2;
$dropdowntext: #887b7f;
$placeHolder: #c8ced7;
$light_bg: #f7f8fb;
$linkcolor: #02a8a8;
$fontText4: #b2b9c6;
$green: #96cf04;
$error: #cb3837;